{% extends 'base.html' %}

{% block main %}

<div class="row">
{% for i in range(0, 25) %}
<div class="card" style="width: 12rem;" data-aos="flip-down" data-aos-duration="700" id="">
    <img src="/static/pokemon/pics/{{ pokemon_data[i]['number'] }}.png"  class="card-img-top" alt="{{ pokemon_data[i]['name'] }}">
    <div class="card-body">
        <h5 class="card-title">{{ pokemon_data[i]['number'] }} {{ pokemon_data[i]['name'] }}</h5>
        <a href="/pokemon" class="btn btn-secondary">View Pokemon</a>
    </div>
</div>
{% endfor %}
</div>

{% endblock main %}