body{ background-color: black; color: white; margin-bottom: 100px;}

nav{ background-color: #3D7DCA; border-bottom: solid black 3px;}
nav:hover{ opacity: .9 !important; }

#img_nav{ background-color: black; border: white 2px solid; border-radius: 15%; }
img{  background-color: white; }

.card{ background-color: #3D7DCA; margin-bottom: 70px; margin-left: 70px; border: solid black 3px;} 
.card:hover{ opacity: .9 !important; }